{% extends "web/base.html" %}

{% block page_title %}
DigitalMenu Consent Form
{% endblock %}

{% block content %}

<h3>CONSENT TO PARTICIPATE IN NON-BIOMEDICAL RESEARCH</h3>

<h1>
<!--
Understanding People’s Dining Behavior to Predict their Just In Time Choices with Digital Menu
-->
Understanding People’s Dining Behavior for Designing Personalized Digital Menu
</h1>

<p>
<!--(This will be a digital consent form through the Digital Menu web site)-->
<p>
You are asked to participate in a research study conducted by Kwan Hong Lee, Ph.D. student from the Media Lab at the Massachusetts Institute of Technology (M.I.T.). The results of this research will contribute to his Ph.D. dissertation.  You were selected as a possible participant in this study because you are willing to try out digital menus in restaurants. You should read the information below, and ask questions about anything you do not understand, before deciding whether or not to participate.
<p>


<h2>PARTICIPATION AND WITHDRAWAL</h2>

<p>
Your participation in this study is completely voluntary and you are free to choose whether to be in it or not. If you choose to be in this study, you may subsequently withdraw from it at any time without penalty or consequences of any kind.  The investigator may withdraw you from this research if circumstances arise which warrant doing so.  
<p>
Your participation may be withdrawn if you try to exploit the computing resources in any way to intrude the privacy of another individual.
<p>

<h2>PURPOSE OF THE STUDY</h2>

<p>
The purpose of the study is to collect data to understand how people’s menu choices evolve for prediction and recommendation of menu items.
<p>


<h2>PROCEDURES</h2>

<p>
If you volunteer to participate in this study, we would ask you to do the following things:
<p>

<ul>
<li>Registration</li>

<ul>
	<li>Register to the DigitalMenu (http://menu.mit.edu/legals/) website, with your Facebook account.</li>
    <li>During the trial you may optionally link Twitter (micro blogging site), Wesabe (online personal finance management) and TechCash (if from MIT) accounts.  This will allow the system to assess for you how your financial information relates to your dining behavior when compared to others in similar demographics.</li>
</ul>

<li>Download the free Digital Menu iPhone application from Apple App Store.</li>

<li>Restaurant Menu</li>

<ul>
    <li>When you arrive at the restaurant, notify the host that you are participating in the Digital Menu trial.</li>
    <li>You will be given a table code by the waiter and an iPhone to order if you do not have your own.</li>
	<li>You will use the phone application to order. You will log into the menu application, enter your user name and table code to order.  After selecting the items, you will show them to the waiter to order. 
    <!--One may choose to order the item at the restaurant or one may choose to pre-order the items they want and report to the waiter.--></li>
</ul>

<li>Review</li>

<ul>
	<li>You will be able to rate what you ate on the web site.</li>

	<li>Depending on the experiment, your choices will be shared with your friends and presented with your name. When shared with public, it will be anonymous.</li>
</ul>

<li>Short Surveys</li>
<ul>
    <li>There will be a short survey (at most 5 questions) at the end of each month.</li>
</ul>

<li>The duration of the study will last up to 6 months.</li>
</ul>

<h2>POTENTIAL RISKS AND DISCOMFORTS</h2>

<p>
If you do not feel comfortable sharing any of the purchases, you do not have to log them.  You can always remove any data you log that you feel uncomfortable keeping in the server for research purposes.  We ensure that it will be protected and purged after the trial.  You will be able to view all that is logged from the DigitalMenu web site.
<p>

<h2>POTENTIAL BENEFITS</h2>

<p>
You will be able to experience mobile menu experience.  You will be able to get recommendations.
<p>

<h2>PAYMENT FOR PARTICIPATION</h2>

<p>
<ul>
<li>The study is a real world behavioral economics study and as a result you will be paying for your own meal.</li>
<li>However, participants will be given 3 x $10 vouchers at Legal Sea Foods Kendall Square when they first visit and the first $10 voucher can be used right away towards purchase of an entree.</li>
<li>$10 Amazon gift certificate is rewarded for each order after participant rates, reviews and uploads the receipt on the <a href="http://menu.mit.edu/legals/">menu website</a> or $30 Amazon gift certificate is given if Wesabe account is linked (see FAQ).</li>
<li>$50 Legal Sea Food gift certificate will be awarded if 3 friends participate after one's participation.</li>
<li>A $200 Apple gift certificate will be raffled among all participants who have eaten at least once.</li>
<li>An iPad will be raffled among all participants who have visited 3 times.</li>
<li>Third timers will also be invited to a free meal to evaluate a new menu design.</li>
<li>* Receipts must be uploaded for rewards - photo upload via web or submitted in person.
</ul><p>

<h2>CONFIDENTIALITY</h2>

<p>
No personally identifiable data will be shared with any outside party including Legal Sea Foods.
<p>
Any information that is obtained in connection with this study and that can be identified with you will remain confidential and will be disclosed only with your permission or as required by law. 
<p>
All your data will be stored in standard ways web services store data.  Any data collected by you will be available for review on the website when you login with your user account. All data collected from application usage will be linked only to coded identifiers for the participants, and not to any personal identifiers at any point during the capture process.  
<p>
Any personal data that you contribute and are aggregated will only be used upon your consent.  You will see visualizations of your data and aggregated data from your group or the public (all the participants) from your personal page.  If at any time during the research trial you wish to withdraw, you may inform us and we will enable the ability for you to purge your data from your web page.  After the analysis we will enable the ability to purge your data and withdraw from the system through the website.  If you wish, you may continue to use the system after the research has ended.  You will always have the option to purge all your data then.
<p>

<h2>IDENTIFICATION OF INVESTIGATORS</h2>

<p>
If you have any questions or concerns about the research, please feel free to contact Ph.D. student Kwan Hong Lee (E14-464H, 617-909-2101) or his faculty advisor Andrew Lippman (E14-348F, 617-253-5113).
<p>

<h2>EMERGENCY CARE AND COMPENSATION FOR INJURY</h2>

<p>
If you feel you have suffered an injury, which may include emotional trauma, as a result of participating in this study, please contact the person in charge of the study as soon as possible.
<p>
In the event you suffer such an injury, M.I.T. may provide itself, or arrange for the provision of, emergency transport or medical treatment, including emergency treatment and follow-up care, as needed, or reimbursement for such medical services.  M.I.T. does not provide any other form of compensation for injury. In any case, neither the offer to provide medical assistance, nor the actual provision of medical services shall be considered an admission of fault or acceptance of liability. Questions regarding this policy may be directed to MIT’s Insurance Office, (617) 253-2823. Your insurance carrier may be billed for the cost of emergency transport or medical treatment, if such services are determined not to be directly related to your participation in this study.
<p>

<h2>RIGHTS OF RESEARCH SUBJECTS</h2>

<p>
You are not waiving any legal claims, rights or remedies because of your participation in this research study.  If you feel you have been treated unfairly, or you have questions regarding your rights as a research subject, you may contact the Chairman of the Committee on the Use of Humans as Experimental Subjects, M.I.T., Room E25-143B, 77 Massachusetts Ave, Cambridge, MA 02139, phone 1-617-253-6787.
<p>


<h4>By checking the check box at the time of registration you agree to the following:</h4>
<p>
I understand the procedures described above.  My questions have been answered to my satisfaction, and I agree to participate in this study.  You may download a copy of this form (<a href="/media/consent/digitalmenuconsent.pdf">download</a>). 


{% endblock content %}
