
    <div class="question">
        Can I go any time? 
    </div>
    <div class="answer">
        Unfortunately, the experiment only supports dinner menu.  You can go any day of the week during dinner time.  Call 617-864-3400 to make reservation indicating that you are participating in the Digital Menu trial in order to minimize wait time.  There are many logistical reasons of supporting just dinner time: sample size, participants outside cambridge, human/technical resource challenges of supporting multiple menus and dinner time being a little less crazy at the restaurant in terms of traffic.  The dinner is a little pricier, but the voucher should help you and I hope you will get to come out on the week or weekend evening, enjoy a nice meal while briefly experiencing innovation. 
    </div>
    <div class="question">
        Can I bring friends? 
    </div>
    <div class="answer">
        Yes, feel free to bring your friends, family and co-workers.  Please have them register at <a href="http://menu.mit.edu/legals/">http://menu.mit.edu/legals/</a> so that everybody on the table may order through the digital menu at the restaurant.  One thing to note is that you should sit with as small number of people as possible to get the best value out of the voucher since only one voucher can be used per table.
    </div>

    <div class="question">
        Vouchers and compensation
    </div>
    <div class="answer">
    You will receive the following.
    <ol>
        <li>$10 off an entree per person per visit</li>
        <li>$10 Amazon gift certificate for uploading receipt, rating and reviewing order</li>
        <li>Instead of uploading receipt: $30 Amazon gift certificate for importing credit card data through Buxfer (Coming soon)</li>
        <li>$10 Amazon gift certificate for completing all surveys</li>
    </ol>
    <br>
        Each participant will receive a $10 voucher when you sign in with the host at the restaurant which can be applied to your entree order.             <br>
        One will receive $10 Amazon gift certificate for completing the surveys.
        <br>
        Rate/review the ordered dish on the website and  upload the receipt to <a href="http://menu.mit.edu/legals/">http://menu.mit.edu/legals/</a> and receive $10 Amazon gift certificate.  Better yet, if you have more than 10 merchant transactions per month (excluding fees/keep the change/deposits/withdrawals) and at least 5 months (at least 50 transactions in total) on your credit and/or debit, register for <a href="http://www.buxfer.com">Buxfer</a> and link your Buxfer account to receive $30 Amazon gift certificate (See below).  The data is used to cluster participants by financial behavior.  Contribution of your data for research would be greatly appreciated. 
    </div>

    <div class="question">
        How do I check how many other friends have completed the survey?
    </div>
    <div class="answer">
    You can login to <a href="http://apps.facebook.com/pickadish/">http://apps.facebook.com/pickadish/</a> to see how many of your friends have filled out the survey.  You will see their pictures.  You will also see how many people completed the survey when you register at <a href="http://menu.mit.edu">http://menu.mit.edu</a>.
    </div>
    <div class="question">
    How do I link my Buxfer account?
    </div>
    <div class="answer">
    <ol>
    <li>The feature is currently being implemented.  You will be notified when this works.</li>
    <li>Create an account <a href="http://www.buxfer.com/">HERE</a></li>
    <li>Link your credit or debit card that you use to make most purchases or food related purchase that contains Legal's purchase.</li>
    <li>Link your account by going to your user profile: Click your name upper right of Digital Menu home page after login.<br>
    <p style="text-align:center;"><img src="/media/socialmenu/buxferlink.png"></p>
    </li>
    </ol>
    </div>
    <div class="question">
        Where do I get the mobile application?
    </div>
    <div class="answer">
        You do not need to download the application since we have provisioned phones at the restaurant.  But if you would like to use your iPhone, you can download the app from the iTunes App store.  Currently only iPhones are supported due to lack of time and resource for developing on other phones.  It works on both iPhone and iPod touch.  However, the restaurant does not currently have WiFi, so only iPhones will be used for the experiment.
    </div>
    <div class="question">
        Can I participate if I don't have an iPhone?
    </div>
    <div class="answer">
        Yes, we have some iPhones at the restaurant that can be used by those who do not have an iPhone.
    </div>
    <div class="question">
        Can I use it if I am not an MIT student?
    </div>

    <div class="answer">
        Yes, anybody can participate. 
    </div>

    <div class="question">
        Is it only available for Legal Seafoods?
    </div>

    <div class="answer">
        Since this is a research experiment it is only offered at Legal Sea Foods, Kendall Square for now. 
    </div>

    <div class="question">
        How can I contact the researchers?
    </div>

    <div class="answer">
        Currently Kwan Lee, Yod Watanaprakornkul and Michael Plasmeier from MIT Media Lab are working on this research.  Please feel free to contact kwan at media dot mit dot edu to help us improve and make the service better so larger number of people can participate.
    </div>

    <div class="question">
        How is Facebook Connect used? 
    </div>

    <div class="answer">
        Facebook Connect is used so that you do not have to remember or maintain a separate user name or password.  It is also used so that you do not have to manually create another social network, and we may know the friend relationship between participants.  We will not be contacting your friends in any way if they are not signed up to the system.  The data is only collected for research purposes and will be either hashed or purged once the research is over upon user's request.
    </div>

    <div class="question">
        Is this going to become commercial?
    </div>

    <div class="answer">
    Some people have asked about commercialization.  Right now, it is at most a research project.  I have no business relationship with Legal's and I am doing this with their cooperation because it is close to Media Lab and they had open mind to research.  Until I graduate, I do not have the bandwidth to think about commercializing, but by participating you will be the first ones to know whether it will have commercial potential and you will be the first ones to be reported on the research results. :)
    </div>
