{% extends "web/base.html" %}

{% block page_title %}
WeBuy - FAQ
{% endblock %}

{% block content %}
  <div class="question">
    Where can I get the mobile application?
  </div> 
  <div class="answer">
    The WeBuy mobile application can be downloaded from the Apple App Store through iTunes and is usable on iPhones or iPod Touches.
  </div>

  <div class="question">
      How is Facebook Connect used? 
  </div>
  <div class="answer">
      Facebook Connect is used so that you do not have to remember or maintain a separate user name or password.  When you login with Facebook Connect, we may know the friend relationship between your account and existing accounts or new accounts created by your friends (feature provided by Facebook).   The data is only collected for research purposes and will be either hashed or purged once the research is over upon user's request.
  </div>

  <div class="question">
      How can I contact the researchers? 
  </div>

  <div class="answer">
      Currently Kwan Lee, Yod Watanaprakornkul and Michael Plasmeier from MIT Media Lab are working on this research.  Please feel free to contact kwan at media dot mit dot edu to help us improve and make the service better so larger number of people can participate.
  </div>

{% endblock %}
