<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
{% load facebook_tags %}
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block page_title %}{% endblock %} - DigitalMenu from the MIT Media Lab</title>
<link rel="icon" type="image/png" href="/media/default/smicon.gif">
<link href="{{ STATIC_URL }}styles/default/base.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{ STATIC_URL}}styles/socialmenu/base.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{ STATIC_URL }}styles/default/pink.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{ STATIC_URL }}styles/blueprint/screen.css" rel="stylesheet" type="text/css" media="screen,projection" />
<link href="{{ STATIC_URL }}styles/blueprint/print.css" rel="stylesheet" type="text/css" media="print" />
<!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link rel="stylesheet" href="{{ STATIC_URL }}scripts/default/fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen" />
{% block redirect %}
{% endblock %}

{% facebook_js %}
</head>

<body>

<div class="container">
  <div class="prepend-2 span-20 last">
    <div id="header">
      <div class="span-20 last">
        <div class="span-14">
          <div id="logo">
              <h1><a href="{% url legals.views.index %}"><img src="{{ STATIC_URL }}media/default/Legal_DigitalMenu25.png" style="border:none" /><span class="img_replace">Legal Sea Foods Digital Menu</span></a></h1>
              <p id="frommedialab"> from the <a href="http://www.media.mit.edu/">MIT Media Lab</a></p>
          </div>
        </div>

        <div class="span-6 last">
          <div id="user">
              {% if user.is_authenticated %}
                  <table border='0'>
                  <tr>
                      <td>
                          Welcome <a href="/legals/profile/">{% show_facebook_full_name user %}</a>  {% show_logout %} <br />
                          {% show_facebook_photo user %}
                      </td>
                  </tr>
                  </table>
              {% else %}
              <table border='0'>
                  <tr>
                  <td nowrap valign='middle' align='center'>
                      <!--<a href="/web/faq/">How is Facebook used?</a>-->
                      <b>Login by clicking:</b>
                  </td>
                  <td nowrap valign='middle' align='center'>
                    {% show_connect_button %}
                  </td>
                  </tr>
              </table>
              {% endif %}
          </div> <!-- end #user --> 
        </div>
      </div>

      <div class="span-20 last">

		<!--<span id="facebook_connect"><form class="connect-button" name="login" method="post" action="/facebook/login"><input type="hidden" name="next" value="" /><input type="image" onclick="facebookConnect(this.form);return false;" src="http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_large_long.gif" /></form></span>-->

        <div id="menu">
            <ul>
            {% block tabnav %}
            {% endblock tabnav %}
            </ul><!-- end nav -->
        </div>
        <div id="header_bar"></div>
      </div>

    </div><!-- header -->
  
  <div class="span-20 last">
  <div id="wrapper">
	<div id="page">
            <div class="post" id="warnings">

                {% block warnings %}
                
                {% endblock warnings %}
            </div>


		<div id="content">

				{% block content %}
				Base homepage
				{% endblock content %}


		</div>
		<!-- end #content -->
		<div id="sidebar">
			{% block sidebar %}

			{% endblock sidebar %}
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
  </div>
  </div>

  <div class="span-20 last">
{% block footer %}
  <div id="footer">
    <p>Copyright (c) 2010 menu.mit.edu. All rights reserved.</p> 
    <p>
    <!--<a href="/web/consent/techcash/">TechCash Terms of Service</a>&nbsp;-->
    <a href="/web/consent/otn/">Digital Menu Terms of Service</a>
    </p>
  </div>
{% endblock footer %}
  </div>

  </div>

</div><!-- container -->


{% initialize_facebook_connect %}

<script type="text/javascript" src="http://www.google.com/jsapi?key={{GOOGLE_API_KEY}}"></script>
<script type="text/javascript">
  google.load("jquery", "1.4.2"); 
  google.load("jqueryui", "1.8.1");
</script>
<script src="http://cdn.jquerytools.org/1.2.2/all/jquery.tools.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}scripts/default/jquery.corner.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/default/ajaxupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/default/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/default/fancybox/jquery.easing-1.3.pack.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/default/fancybox/jquery.mousewheel-3.0.2.pack.js"></script>

{% block scripts %}
{% endblock scripts %}

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-4915049-4");
        pageTracker._setDomainName("none");
        pageTracker._setAllowLinker(true);
        pageTracker._trackPageview();
    } catch(err) {}
</script>
</body>
</html>
