@charset "utf-8";
/* CSS Document */
/* Margins/Padding: top right bottom left
					top/bottom  right/left
					top  left/right  bottom*/

/*Header Stuff*/

#logo{
width:400px;
height:82px;
text-align:left;
margin-left:0px;
margin-top:-30px;
float:left;
}

#fblogin{
width:200px;
float:right;
margin:20px 10px 20px 0px;
}

#login{
width:250px;
float:right;
margin:20px 10px 20px 0px;
}

#user{
float:right;
height:10px;
font-family:Verdana, sans-serif;
font-size:0.8em;
padding:7px 10px 8px 0px;
text-align:right;
}

#how{
font-family:Helvetica, Verdana, sans-serif;
font-size:0.8em;
margin-top:5px;
}

#footer{
width:935px;
height:2em;
padding-top:1em;
padding-right:2em;
background-color:#B3CCBA;
font-family:Verdana,sans-serif;
font-weight:bolder;
font-size:0.6em;
float:left;
text-align:right;
color:#003366;
}

.nav_li{
margin-left:3px;
margin-right:3px;
display:inline;
font-family:Verdana, sans-serif;
font-size:0.9em;
font-weight:bolder;
line-height:30px;
vertical-align:top;
}

.nav_d{
margin-left:3px;
margin-right:3px;
vertical-align:middle;
display:inline;
}

#window{
width:530px;
position:absolute;
margin-top:20px;
margin-left:40px;
background-color:#fffff0;
display:inline;
font-family:Helvetica, Verdana, sans-serif;
font-size:12pt;
color:#127524;
}

#home_pics{
width:220px;
position:absolute;
margin-left:30px;
margin-right:15px;
padding-bottom:50px;
background-color:#fff3db;
}

#maincontent{
padding:1em;
margin-top:0.5em;
}