@charset "utf-8";
/* CSS Document */
/* Margins/Padding: top right bottom left
					top/bottom  right/left
					top  left/right  bottom*/

body{
background-color:#B3CCBA;
}

a{
text-decoration:none;
color:#127524;
}

a:hover{
text-decoration:none;
color:#334500;
}


#container{
margin:auto;
width:950px;
}

h1{
font-family:Helvetica, Verdana, sans-serif;
font-weight:boldest;
font-size:1.25em;
font-variant:small-caps;
text-align:center;
color:#003366;
margin-bottom:10px;
}

h1 a:hover{
color:#334500;
}

h3{
font-family:Helvetica, Verdana, sans-serif;
font-size:1em;
font-weight:normal;
font-style:italic;
text-align:center;
margin-top:-5px;
margin-bottom:30px;
}

/*Header Stuff*/
#header{
width:950px;
position:absolute;
margin-top:0em;
float:left;
}

#logo{
width:400px;
height:82px;
text-align:left;
margin-left:0px;
margin-top:-30px;
float:left;
}

#fblogin{
width:200px;
float:right;
margin-top:20px;
margin-bottom:20px;
margin-right:10px;
}

#login{
width:250px;
float:right;
margin-top:20px;
margin-bottom:20px;
margin-right:10px;
}

#user{
float:right;
height:10px;
font-family:Verdana, sans-serif;
font-size:0.8em;
margin:7px 10px 5px 0px;
}

#user a{
color:#000000;
font-weight:bold;
}

#how{
font-family:Helvetica, Verdana, sans-serif;
font-size:0.8em;
margin-top:5px;
}

#pic{
width:50px;
padding-right:20px;
float:right;
}

#fbconnect{
width:50px;
}

#footer{
width:935px;
height:2em;
padding-top:1em;
padding-right:2em;
background-color:#B3CCBA;
font-family:Verdana,sans-serif;
font-weight:bolder;
font-size:0.6em;
float:left;
text-align:right;
color:#003366;
}


#nav{
position:absolute;
width:950px;
background-color:#fffff0;
margin-top:6em;
}

#main{
position:absolute;
margin-top:8.5em;
width:950px;
background-color:#fffff0;
}


.nav_li{
margin-left:3px;
margin-right:3px;
display:inline;
font-family:Verdana, sans-serif;
font-size:0.9em;
font-weight:bolder;
line-height:30px;
vertical-align:top;
}

.nav_li a{
color:#E8A31F;
text-decoration:none;
}

.nav_li a:hover{
color:#003366;
text-decoration:none;
}

.nav_li a:active{
color:#003366;
text-decoration:none;
}

.nav_d{
margin-left:3px;
margin-right:3px;
vertical-align:middle;
display:inline;
}

#sidebar{
width:250px;
margin:auto;
background-color:#fffff0;
display:inline;
font-family:Helvetica, Verdana, sans-serif;
font-size:12pt;
color:#127524;
}

.sort{
width:220px;
margin: 0em 1em;
float:left;
background-color:#fffff0;
}

#main_div{
width:40px;
height:500px;
display:inline;
}

#window{
width:600px;
float:right;
margin-right:10px;
padding-right:10px;
background-color:#fffff0;
display:inline;
font-family:Helvetica, Verdana, sans-serif;
font-size:12pt;
color:#127524;
}

#bigwindow{
width:900px;
margin:auto;
background-color:#fffff0;
display:inline;
font-family:Helvetica, Verdana, sans-serif;
font-size:12pt;
color:#127524;
}

.friends{
width:220px;
margin-left:15px;
margin-right:15px;
float:left;
padding-bottom:50px;
background-color:#fffff0;
}

table.table-pad td{
padding-bottom:30px;
}


/* \*/
* html .tlc, * html .trc {height: 1%;}
/* */

.tlc, .trc { zoom: 1 }
 	
#navcontent
	{
	padding:0.7em 1.0em;
	}

#maincontent
	{
	padding:2em;
	}
		
/* ---=== border code follows ===--- */
/*
	tlc = top left corner
	trc = top right corner
	blc = bottom left corner
	brc = bottom right corner
	lb = left border
	rb = right border
	tb = top border
	bb = bottom border 
*/

.tlc, .trc, .blc, .brc
	{
	background-repeat: no-repeat;
	}

.tlc
	{
	background-image:url(/static/media/shoppley/tlc.gif);
	background-position: 0% 0%;
	}

.trc
	{
	background-image:url(/static/media/shoppley/trc.gif);
	background-position: 100% 0%;
	}
	
.blc
	{
	background-image:url(/static/media/shoppley/blc.gif);
	background-position: 0% 100%;
	}

.brc
	{
	background-image:url(/static/media/shoppley/brc.gif);
	background-position: 100% 100%;
	}
			
.tb
	{
	background-image:url(/static/media/shoppley/tb.gif);
	background-position: 0% 0%;
	background-repeat: repeat-x;
	}

.bb
	{
	background-image:url(/static/media/shoppley/bb.gif);
	background-position: 100% 100%;
	background-repeat: repeat-x;
	}
	
.rb
	{
	background-image:url(/static/media/shoppley/r.gif);
	background-position: 100% 0%;
	background-repeat: repeat-y;
	}

.lb
	{
	background-image:url(/static/media/shoppley/l.gif);
	background-position: 0% 100%;
	background-repeat: repeat-y;
	}
