{% extends "web2/base.html" %}

{% block page_title %}
{{ survey.survey.title }}
{% endblock %}

{% block page_styles %}
<style type="text/css">
#survey{
width:900px;
margin:auto;
}

.question{
margin-top:0.5em;
font-family:Verdana, sans-serif;
font-size:0.9em;
font-weight:bolder;
text-align:left;
float:left;
display:inline;
}

.answer{
font-family:Verdana, sans-serif;
font-size:0.9em;
text-align:left;
float:left;
display:inline;
}

</style>
{% endblock %}

{% block small %}
{% endblock %}

{% block content %}
<div id="bigwindow">

<div id="survey">
<h1>{{ survey.survey.title }}</h1>
<h3>{{ survey.survey.description }}</h3>
    <p>
    <div style="width:900px; padding-left:50px;">
      <form action="{% url survey.views.survey survey_id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="uuid_token" value="{{ uuid_token }}" />
        {% for field in form %}
            <div style="width:900px">
                {% if field.errors %}
                <div class="error">
                  {{ field.errors }}
                </div>
                {% endif %}
              </div>
              <div class="question {% if forloop.counter0|divisibleby:"2" %}survey-bg{% endif %} span-17 last">
                {% if field.html_name in form.radio_fields %}
                  <div style="width:900px">
                    <div class="question" style="width:900px">
                    {{ forloop.counter }}. {{ field.label_tag }}
                    </div>
                    <div class="answer" style="width:900px">
                      {{ field }}
                    </div>
                  </div>
                {% else %}
                    {% if field.html_name == "comments" %}
                      <div style="width:900px">
                        <div class="question" style="width:900px">
                          {{ forloop.counter }}. {{ field.label_tag }}
                        </div>
                        <div class="answer" style="width:900px">
                          {{ field }}
                        </div>
                      </div>
                    {% else %}
                      <div style="width:900px">
                        <div class="question" style="width:470px">
                          {{ forloop.counter }}. {{ field.label_tag }}
                        </div>
                        <div class="answer" style="width:230px">
                          {{ field }}
                        </div>
                      </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        <br />
        <div style="width:230px">
        <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
