    <div id="allergies" class="panel item" title="Allergies" class="menuitem">
            <p class="title">Allergy information and disclaimer about raw food and shellfish</p>
            <p class="description">Ask about our Gluten-Free menu</p>
            <p class="description">Tell your server if you have any allergies</p>
            <p class="description">Consuming raw or undercooked meats, poultry, seafood, shellfish, or eggs may increase your risk of foodborne illness. More information about the safety of consuming raw food is available upon request.</p>

    </div>
