{% extends "web/base.html" %}

{% block content %}
<h3>CONSENT TO PARTICIPATE IN NON-BIOMEDICAL RESEARCH</h3>

<h1>
Understanding the Utility of Mobile Digital Receipts and Open Transactions
</h1>

<p>
You are asked to participate in a research study conducted by Kwan Hong Lee, Ph.D. student from the Media Lab at the Massachusetts Institute of Technology (M.I.T.). The results of this research will contribute to his Ph.D. dissertation.  You were selected as a possible participant in this study because you are willing to reveal aspects of your financial transactions to help your social network of friends make better decisions in their purchases. You should read the information below, and ask questions about anything you do not understand, before deciding whether or not to participate.
<p>

<h2>PARTICIPATION AND WITHDRAWAL</h2>
<p>
Your participation in this study is completely voluntary and you are free to choose whether to be in it or not. If you choose to be in this study, you may subsequently withdraw from it at any time without penalty or consequences of any kind.  The investigator may withdraw you from this research if circumstances arise which warrant doing so.  
<p>
Your participation may be withdrawn if you try to exploit the computing resources in any way to intrude the privacy of another individual.
<p>

<h2>PURPOSE OF THE STUDY</h2>
<p>
The purpose of the study is to understand how mobile phones influences near future behavior and affect in time decisions as users make financial transactions in the real world.
<p>
<h2>PROCEDURES</h2>
<p>
If you volunteer to participate in this study, we would ask you to do the following things:
<p>
<ul>
<li>
Registration
</li>
<ul>
<li>
Register to the Meal Time (http://mealtime.mit.edu) website using your Facebook account. During the trial you may optionally link Twitter (micro blogging site), Wesabe (online personal finance management) and TechCash (if from MIT) accounts.  This will allow the system to assess for you how your financial information relates to your dining behavior when compared to others with similar financial behavior.
</li>
</ul>
<li>
Download the free MealTime iPhone application from the Apple App Store.
</li>
<li>
Friends
</li>
<ul>
	<li>Invite and designate as many friends to join (at least 10).  Each invited friend needs to follow the above procedures to participate.
</li>
</ul>
<li>
Share
</li>
<ul>
	<li>The application you downloaded on your mobile phone allows you to manage digital receipts (purchase logs).  When you swipe your TechCash card, you will receive a notification.  You may share any of them with your friends or public and commnet on your purchase.
</li>
<li>When shared with your friends it will be presented with your identification and when shared with public, it will be anonymous unless you have made your profile public.
</li>
</ul>

<li>
Rate and Comment
</li>
<ul>
	<li>You will rate your purchases and comment (i.e. annotate the detailed item you purchased since TechCash only gives the store information).
</li>
</ul>

<li>Duration</li>
<ul>
<li>
The duration of the study will last up to 6 months.
</li>
</ul>
</ul>

<h2>POTENTIAL RISKS AND DISCOMFORTS</h2>

<p>
You will be able to view all that is logged from the Meal Time web site.  You can always remove any data you log that you feel uncomfortable keeping on the server for research purposes.  We ensure that it will be protected and purged after the trial.  
<p>

<h2>POTENTIAL BENEFITS</h2>

<p>
You will be able to manage your transactions from a mobile phone.  You may be able to get more information about lunch options during the duration of the trial.  There will be small benefits such as (discounts and finding friends eating lunch).
<p>
<h2>PAYMENT FOR PARTICIPATION</h2>

<p>
<ul>
<li>Every day, if you have made a purchase with your TechCash card, you will be drawn to a lottery of $5 that will be announced the next day.</li>
<li>Participants will be rewarded $10 for linking their Wesabe (wesabe.com) accounts.</li>
<li>We will draw an iPad at the end of first trial May 25, 2010 for those people that have opened the application each day and transacted more than 30 times during trial.</li>
</ul>
<p>
	
	
<h2>CONFIDENTIALITY</h2>
<p>
Any information that is obtained in connection with this study and that can be identified with you will remain confidential and will be disclosed only with your permission or as required by law. 
<p>
All your data will be stored in standard ways web services store data.  Any data collected by you will be available for review on the website when you login with your user account. All data collected from application usage will be linked only to coded identifiers for the participants, and not to any personal identifiers at any point during the capture process.  
<p>
Any personal data that you contribute and are aggregated will only be used upon your consent.  You will see visualizations of your data and aggregated data from your group or the public (all the participants) from your personal page.  If at any time during the research trial you wish to withdraw, you may inform us and we will enable the ability for you to purge your data from your web page.  After the analysis we will enable the ability to purge your data and withdraw from the system through the website.  If you wish, you may continue to use the system after the research has ended.  You will always have the option to purge all your data then.
<p>

<h2>IDENTIFICATION OF INVESTIGATORS</h2>

<p>
If you have any questions or concerns about the research, please feel free to contact Ph.D. student Kwan Hong Lee (E14-464H, 617-909-2101) or his faculty advisor Andrew Lippman (E14-348F, 617-253-5113).
<p>

<h2>EMERGENCY CARE AND COMPENSATION FOR INJURY</h2>

<p>
If you feel you have suffered an injury, which may include emotional trauma, as a result of participating in this study, please contact the person in charge of the study as soon as possible.
<p>
In the event you suffer such an injury, M.I.T. may provide itself, or arrange for the provision of, emergency transport or medical treatment, including emergency treatment and follow-up care, as needed, or reimbursement for such medical services.  M.I.T. does not provide any other form of compensation for injury. In any case, neither the offer to provide medical assistance, nor the actual provision of medical services shall be considered an admission of fault or acceptance of liability. Questions regarding this policy may be directed to MIT’s Insurance Office, (617) 253-2823. Your insurance carrier may be billed for the cost of emergency transport or medical treatment, if such services are determined not to be directly related to your participation in this study.
<p>

<h2>RIGHTS OF RESEARCH SUBJECTS</h2>

<p>
You are not waiving any legal claims, rights or remedies because of your participation in this research study.  If you feel you have been treated unfairly, or you have questions regarding your rights as a research subject, you may contact the Chairman of the Committee on the Use of Humans as Experimental Subjects, M.I.T., Room E25-143B, 77 Massachusetts Ave, Cambridge, MA 02139, phone 1-617-253 6787.
<p>


<h4>By checking the check box you agree to the following</h4>
<p>
I understand the procedures described above.  My questions have been answered to my satisfaction, and I agree to participate in this study.  I have been given a copy of this form (<a href="/media/consent/digitalreceiptconsent.pdf">download</a>). 
<p>

{% endblock content %}
