<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Sparkling   
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100704

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>ML Jobs</title>
  <!-- Styles -->
  <!-- Blueprint CSS -->
  <link rel="stylesheet" href="styles/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="styles/blueprint/print.css" type="text/css" media="print">    
  <!--[if IE]><link rel="stylesheet" href="styles/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <!--[if IE]><link rel="stylesheet" href="styles/blueprint/ie_otn.css" type="text/css"><![endif]-->
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<style type="text/css">

</style>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
	</div>
	<!-- end #header -->
	<div id="page" class="span-10">
	  <hr class="space"/><hr class="space"/><hr class="space"/><hr class="space"/><hr class="space"/><hr class="space"/>	
	  <img src="images/mljobs_logo.png" width="350">
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Copyright (c) 2008 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
