HOST_NAME = "localhost:8000"

PREFIX = "/home/kwan/workspace/OTNWeb/webuy"
#PREFIX = "/Users/kwan/workspace/OTNWeb/"


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'WeBuy.db',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# for local development
NUM_FRIEND_RETRIEVE_LIMIT = 50
FACEBOOK_API_KEY = 'b7bddf85c821cb64b0df5f11f6626e10'
FACEBOOK_SECRET_KEY = 'cc8e1e8822e73d44451a8cbde73a354f'
GOOGLE_API_KEY = 'ABQIAAAAtw1JH2yMfNAUgmPaNN9VkBQCULP4XOMyhPd8d_NrQQEO8sT8XBSLf36_YWyVea2ikThzBt_vr5Qwag'

# for local serving
MEDIA_ROOT = PREFIX+'/static/media/'
STYLES_ROOT = PREFIX+'/static/styles/'
SCRIPTS_ROOT = PREFIX+'/static/scripts/'
MEDIA_URL = '/media/'
STYLES_URL = '/styles/'
SCRIPTS_URL = '/scripts/'
TEMPLATE_DIRS = (
    # Put strings here, like "/home/html/django_templates" or "C:/www/django/templates".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
    PREFIX,
)


