<style>
    .headline {
        color: blue;
    }
</style>

<div class="clearfix" style="float: left; border: 1px #d8dfea solid; padding: 10px 10px 10px 10px; margin-left: 30px; margin-bottom: 30px; width: 540px;">
Hi! I am a graduate student at <a href="http://www.media.mit.edu">MIT Media Lab</a> doing research on digital menus.  I am asking for a favor to fill out this 5 minute survey.  I have not much to offer, but <b>extreme gratitude</b> in helping me collect data for my research. :)  
<p>
<b class="headline">Participate-</b> If you enter your e-mail address, you will also be invited to the digital menu user study that I will be running with Legal Sea Foods as part of my research.  You will get $10 off your dinner entree when you participate.  <!--You will receive a $30 voucher to Legal Sea Foods when you first visit Legal Sea Foods and there will be more lotteries during the trial.  At the end of the study we will also raffle an <b>iPad--></b>! 
<p>
<b class="headline">Contribute-</b> Also by participating, you will be adding to the wealth of knowledge of humanity and you will be invited to my dissertation defense (this part is free). Of course, I will also share with you any written research results that come out of this if you are interested.  (All raw data will be anonymized and only used for research purposes and will not be shared with any other parties according to human subject studies guidelines).
<p>
<b class="headline">Invite-</b> Please invite at least 10 of your friends to share their tastes to see how their tastes compare.
<p>
    <b>The survey should take less than 5 minutes to complete.</b>
    <br/>
</div>


