<style>
    .headline {
        color: blue;
    }
</style>


<div class="clearfix" style="float: left; border: 1px #d8dfea solid; padding: 10px 10px 10px 10px; margin-left: 30px; margin-bottom: 30px; width: 540px;">
<b class="headline">What is this?-</b> Pick A Dish is a short survey from the <a href="http://www.media.mit.edu">MIT Media Lab</a> on understanding people's menu choices.  <p>
<!--
<b class="headline">Participate-</b> After you complete the survey, you will be eligible to participate in the digital menu research at Legal Sea Foods. If you are interested in participating, please enter your e-mail address in the survey so we may contact you when the study starts.  You will receive a $30 worth of vouchers to Legal Sea Foods when you visit Legal Sea Foods and there will be more lotteries during the trial.  At the end of the study we will also raffle an <b>iPad</b>! 
-->
<b class="headline">Participate-</b> After you complete the survey, you will be eligible to participate in the digital menu research at Legal Sea Foods. If you are interested in participating, please enter your e-mail address in the survey so we may contact you for the study.  You will receive a $10 off your dinner entree. 
<p>
<b class="headline">Invite-</b> Please invite at least 10 of your friends to share their tastes to see how their tastes compare.
<p>
    <b>The survey should take less than 5 minutes to complete.</b>
    <br/>
</div>


