<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
{% load facebook_tags %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Lunchtime</title>
{% facebook_js %}
{% initialize_facebook_connect %}
</head>

<body>
<div id='user'>
<table border='0'>
    <tr>
    <td nowrap valign='middle' align='center'>
      {% show_connect_button %}
    </td>
    </tr>
</table>
</div>
</body>
</html>