<style>
    .headline {
        color: blue;
    }
</style>

<div class="clearfix" style="float: left; border: 1px #d8dfea solid; padding: 10px 10px 10px 10px; margin-left: 30px; margin-bottom: 30px; width: 540px;">
Complete the survey for a chance to win $100 Legal Sea Food gift certificate!
<p>
Hi! I am a graduate student at <a href="http://www.media.mit.edu">MIT Media Lab</a> doing research on digital menus.
<p>
<b class="headline">Win-</b> I am asking for a favor to fill out this 5 minute survey.  I have not much to offer, but <b>extreme gratitude</b> in helping me collect data for my research. :)  You will be entered into a $100 (gift certificate to Legal Sea Foods) lottery for completing the survey.  
<p>
<b class="headline">Participate-</b> If you enter your e-mail address, you will also be invited to the digital menu user study that I will be running with Legal Sea Foods as part of my research.  There will be a $10 gift certificate rewarded for participating in the study and few more lotteries during the study.
<p>
<b class="headline">Contribute-</b> Also by participating, you will be adding to the wealth of knowledge of humanity and you will be invited to my dissertation defense (this part is free). Of course, I will also share with you any written research results that come out of this if you are interested.  (All raw data will be anonymized and only used for research purposes and will not be shared with any other parties).
<p>
<b class="headline">Invite-</b> At the end of the survey, you will have a chance to invite your friends to participate in the survey.  Each friend that signs up will give you another entry into the raffle. The more friends that sign up, the higher your chances of winning! 
<p>
    <b>The survey should take less than 5 minutes to complete.</b>
    <br/>
</div>


