<style>
    .headline {
        color: blue;
    }
</style>


<div class="clearfix" style="float: left; border: 1px #d8dfea solid; padding: 10px 10px 10px 10px; margin-left: 30px; margin-bottom: 30px; width: 540px;">
Complete the survey for a chance to win $100 Legal Sea Food gift certificate!
<p>
<b class="headline">Win-</b> Pick A Dish is a short survey from the <a href="http://www.media.mit.edu">MIT Media Lab</a> on understanding people's menu choices.  We would like to ask you to participate in this quick survey for a chance to win a $100 gift certificate to Legal Sea Foods.  
<p>
<b class="headline">Participate-</b> After you complete the survey, you will be eligible to participate in the digital menu research at Legal Sea Foods. If you are interested in participating, please enter your e-mail address in the survey so we may contact you when the study starts.  You will receive a $10 gift certificate to Legal Sea Foods for your participation in the study and will be eligible for additional lotteries during the study.
<p>
<b class="headline">Invite-</b> At the end of the survey, you will have a chance to invite your friends to participate in the survey.  Each friend that signs up will give you another entry into the raffle. The more friends that sign up, the higher your chances of winning! 
<p>
    <b>The survey should take less than 5 minutes to complete.</b>
    <br/>
</div>


