{% extends "web2/base.html" %}

{% block content %}
<style type="text/css">
  ul {
    font-weight: normal; 
  }

  ul li {
    margin-left: 20px;
  }
</style>

<h1>
STUDENT CONSENT FORM FOR THIRD PARTY ACCESS TO TECHCASH INFORMATION 
</h1>

<h3>
PLEASE READ THIS DOCUMENT CAREFULLY AND ASK QUESTIONS ABOUT ANYTHING YOU DO NOT UNDERSTAND BEFORE CHECKING THE BOX.
</h3>
<p>
I, the undersigned, hereby authorize and request that the Massachusetts Institute of Technology (“MIT”) to release to the Lunch Time, a project in the Viral Communications Group at the MIT Media Lab, the following records and information (“Records”) in connection with my participation in the LunchTime project:
</p>
<h3>ALL INFORMATION REGARDING TRANSACTIONS I MAKE USING MY MIT TECHCASH ACCOUNT</h3>

<p>
I understand that:
</p>

<ul>
<li>The Records may contain, among other things, my student identification number and the location, time, date, amount and nature of my TechCASH transactions.</li>

<li>The Records may be released verbally, in writing or electronically and may be further disseminated as contemplated by the LunchTime project.  
</li>

<li>MIT has various policies, including the TechCASH Privacy Policy, that protect student information, and the Family Educational Rights and Privacy Act (FERPA) affords rights to students concerning the privacy of, and access to, education records.  
</li>

<li>By executing this consent, I am waiving some of my rights under MIT policies and FERPA.</li>
 
<li>I have the right not to consent to the release of my Records.</li>

<li>I have the right to inspect any written Records released pursuant to this consent.</li>

<li>This consent will remain in effect until one day after MIT Card Services receives written notice of revocation, which notice may either be delivered to the MIT Card Services Office (W20-021) or emailed to mitcard@mit.edu.</li>

<li>Any such revocation will not affect releases of Records by MIT prior to the effective time of revocation. </li>
</ul>

By checking the check box, I agree to the above informed agreement.
Hard copy can be downloaded <a href="/media/consent/techcashconsent.pdf">here</a>.
{% endblock content %}
