/*
By Michael Plasmeier (ThePlaz) for the MIT Media Lab

This file is for colors that change
*/

a {
	border-bottom: 1px dotted #3377FF;
	color: #3377FF;
}

#logo h1 a {
	color: #3377FF;
}

#header_bar, #footer {
	background: #C100AB;
}

#menu li a {
	color:white;
}

#menu li.current { 
	background:#A80095; 
}

#menu li {
	background:#BF60B4;
}

#menu li:hover {
	background:#EDAFE6;
}



.post .meta {
	background: #E0E0E0;
	border-left: 4px double #3377FF;
	border-right: 4px double #3377FF;
}


.post .title {
	/*border-left: 4px solid #3377FF;*/
}


#reciepts_list table {
	border-bottom:1px solid #3377FF;
}

.dashitem {
	border:3px solid #C100AB;
	/*background-color:#D48600;*/
}

.evenrow {
	background:#FFDFFF;
}


