# Django settings for socialmenu project.
import os
PROJECT_ROOT = os.path.abspath(os.path.dirname(__file__))

# amount of time when table code expires
TC_EXPIRE_MINS = 60

# TODO: Need to set this for deployment
DEPLOY = True 

if DEPLOY:
    HOST_NAME = "menu.mit.edu"
    APP_NAME = "pickadish"
else:
    HOST_NAME = "menu-dev.mit.edu"
    APP_NAME = "pickadishdev"

LOGIN_REDIRECT_URL='/legals/'
LOGOUT_REDIRECT_URL='/legals/'

if DEPLOY:
    # For final deployment
    GOOGLE_API_KEY = 'ABQIAAAAtw1JH2yMfNAUgmPaNN9VkBT93FFPu9wQ5f4yLTtlKIaVmZzLeBTbWYuhxO8TJ2JgukOnZghxs7iw8A'
    FACEBOOK_API_KEY = 'b3d73b769fc35494415ce8319458ddf1'
    FACEBOOK_SECRET_KEY = '181594341dcd1a2e3b707799deabe326'
    NUM_FRIEND_RETRIEVE_LIMIT = 1000
    # email server
    EMAIL_HOST = "smtp.gmail.com"
    EMAIL_PORT = 587 
    EMAIL_HOST_USER = "otn.media@gmail.com"
    EMAIL_HOST_PASSWORD = "aaa"
    EMAIL_USE_TLS = True
else:
    GOOGLE_API_KEY = 'ABQIAAAAtw1JH2yMfNAUgmPaNN9VkBRiSUz8ncvejFaCHkVA9gv1oYKCEhSm36dqkn6bF69M6CDa7l87NiNYZw'
    # socialmenu Facebook Connect app
    FACEBOOK_API_KEY = '3c68f9ebfb1ab57bb5208f96290f87ba'
    FACEBOOK_SECRET_KEY = 'e9afd70be26c9388fad92373a26bd33f'
    NUM_FRIEND_RETRIEVE_LIMIT = 50
    EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
    EMAIL_FILE_PATH = '/tmp/socialmenu-messages'

FACEBOOK_INTERNAL = True
FACEBOOK_CACHE_TIMEOUT = 1800

# manages cookies so that sessions are synced with Facebook
SESSION_COOKIE_AGE = 1800
SESSION_EXPIRE_AT_BROWSER_CLOSE = True

# Full path to the APN Certificate / Private Key .pem
IPHONE_SANDBOX_APN_PUSH_CERT = os.path.join(PROJECT_ROOT, "keys/iphone_ck.pem")
IPHONE_LIVE_APN_PUSH_CERT = os.path.join(PROJECT_ROOT, "keys/iphone_live.pem")

# Set this to the hostname for the outgoing push server
IPHONE_SANDBOX_APN_HOST = 'gateway.sandbox.push.apple.com'
IPHONE_LIVE_APN_HOST = 'gateway.push.apple.com'

# Set this to the hostname for the feedback server
IPHONE_SANDBOX_FEEDBACK_HOST = 'feedback.sandbox.push.apple.com'
IPHONE_LIVE_FEEDBACK_HOST = 'feedback.push.apple.com'

DEBUG = not DEPLOY 
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    # ('Your Name', 'your_email@domain.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'SocialMenu',                      # Or path to database file if using sqlite3.
        'USER': 'otnpostgres',                      # Not used with sqlite3.
        'PASSWORD': 'aaa',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.

    }
}

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = 'America/New_York'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-us'

SITE_ID = 1

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = True

# Absolute path to the directory that holds media.
# Example: "/home/media/media.lawrence.com/"
MEDIA_ROOT = '%s/static/media/'%PROJECT_ROOT

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash if there is a path component (optional in other cases).
# Examples: "http://media.lawrence.com", "http://example.com/media/"
MEDIA_URL = 'http://%s/media/'%HOST_NAME

THUMBNAIL_SUBDIR = '_thumbs'
THUMBNAIL_EXTENSION = 'png'

# URL prefix for admin media -- CSS, JavaScript and images. Make sure to use a
# trailing slash.
# Examples: "http://foo.com/media/", "/media/".
ADMIN_MEDIA_PREFIX = '/media/admin/'

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'if5k@t)b_*#%5p@)5)np%qi_p1b2e@u^kk$qzogn1bcknz=$8k'

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.load_template_source',
    'django.template.loaders.app_directories.load_template_source',
#     'django.template.loaders.eggs.load_template_source',
)

MIDDLEWARE_CLASSES = (
    'django.middleware.cache.UpdateCacheMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'facebook.djangofb.FacebookMiddleware',
    'django.middleware.common.CommonMiddleware',
    #'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'facebookconnect.middleware.FacebookConnectMiddleware',
    'django.middleware.cache.FetchFromCacheMiddleware',
)

AUTHENTICATION_BACKENDS = (
    'facebookconnect.models.FacebookBackend',
    'django.contrib.auth.backends.ModelBackend',
    'common.backend.OTNBackend',
)

#AUTH_PROFILE_MODULE = 'common.OTNUser'
CUSTOM_USER_MODEL = 'common.OTNUser'


if DEPLOY:
    CACHE_BACKEND = 'memcached://127.0.0.1:11211/'
    # TODO: python manage.py createcachetable [socialmenu_cache_table]
    #CACHE_BACKEND = 'db://socialmenu_cache_table'
    CACHE_MIDDLEWARE_SECONDS = 1800
    CACHE_MIDDLEWARE_KEY_PREFIX = 'socialmenu'

ROOT_URLCONF = 'socialmenu.urls'

TEMPLATE_DIRS = (
    # Put strings here, like "/home/html/django_templates" or "C:/www/django/templates".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
    PROJECT_ROOT, 
)

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.admin',

    'facebookconnect',
    'common',
    'web',
    'restaurant',
    'legals',
    'mitdining',
    'iphonepush',
    'survey',
    'presurvey',
    'finance',
    'south',
    'analysis',
    'sorl.thumbnail',
)

DUMMY_FACEBOOK_INFO = { 
    'uid': 0,
    'name': '(Private)',
    'first_name': '(Private)',
    'last_name': '(Private)',
    'profile_url': None,
    'pic': 'http://www.facebook.com/pics/t_silhouette.gif',
    'pic_square': 'http://www.facebook.com/pics/t_silhouette.gif',
    'pic_square_with_logo': 'http://www.facebook.com/pics/t_silhouette.gif',
    'pic_big': 'http://www.usgwarchives.net/wi/kewaunee/images/unknown-peterson.jpg',
    'affiliations': None,
    'status': None,
    'proxied_email': None,
}



try:
    LOCAL_DEVELOPMENT = False
    from local_settings import *
    LOCAL_DEVELOPMENT = True
except ImportError:
    try:
        from mod_python import apache
        apache.log_error('local_settings.py not set; using default settings', apache.APLOG_NOTICE)
    except ImportError:
        import sys
        sys.stderr.write('local_settings.py not set; using default settings\n')

import logging
import logging.config

try:
    logging.config.fileConfig(PROJECT_ROOT+"/logging.conf")
    # create logger
    MIT_LOGGER = logging.getLogger("mitdining")
    LOGGER = logging.getLogger("legals")
    LEGALS_LOGGER = LOGGER
    FB_LOGGER = logging.getLogger("facebookconnect")
except:
    pass


